# Dependencies
/node_modules
/jspm_packages

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.log

# Production/Build
/dist
/build
/out
/release
/tmp

# Environment Variables
.env
.env.*
.DS_Store # Mac operating system files

# Editor/IDE Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace